<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.byd.emg.mapper.TimeTableMapper" >

    <select id="selectCurrData" parameterType="java.lang.String" resultType="TimeTable">
        select tableName,updateTime from time_table where updateTime='${para}'
    </select>

    <insert id="insert">
        insert into time_table (tableName,updateTime)
        values ('${tableName}','${currDate}')
    </insert>

    <insert id="batchInsert">
        <foreach collection="tables" index="index" item="item" separator=";">
            insert into time_table (tableName,updateTime)
            values
            ('${item}','${currDate}')
        </foreach>
    </insert>

    <delete id="deleteByList">
        delete from time_table where
        tableName in
        <foreach collection="tables" index="index" item="item" open="(" separator="," close=")">
            '${item}'
        </foreach>
    </delete>

    <delete id="deleteByTableName" parameterType="java.lang.String">
        delete from time_table where tableName='${tableName}'
    </delete>

</mapper>